*{box-sizeing:boder-box;
margin:0;padding:0;
}
body{
margin:10px;padding:20px;
background:green;
font-family:Georgia, serif;

}
#group-warm label{
display:block;
padding:5px;

}
#group-warm  input{
border:1px solid gray;
width:100%;
padding:5px;
}
 #from-group  button{
width:100%;
margin-top:10px;
background:gray;
padding:5px;
cursor:pointor;
}
 #from-group  button hover{}
 
#from-group h1,p{
margin-left:100px;;
}